[submodule "gitmessage"]
	path = src/git/message
	url = git@gist.github.com:845472cc49a4ad204424a8a56349c901.git
[submodule "src/bash/bash-powerline"]
	path = src/bash/bash-powerline
	url = git@github.com:kotokaze/bash-powerline
